.footer {
    padding: 64px;
    background-color: $grey;
    .row-links {
        border-bottom: 1px solid #fff;
        padding-bottom: 2%;
        margin-bottom: 4px;
    }
    .section-title {
        text-transform: uppercase;
        color: #fff;
    }
    .social-media-box {
        @include mobile {
            margin: 32px 0;
            text-align: center;
        }
    }
    .social {
        display: flex;
        padding: 0;
        list-style: none;
        @include mobile {
            margin-bottom: 0;
            justify-content: center;
        }
        &-item {
            width: 40px;
            height: 40px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 12px;
            }
            &-link {
                color: $grey;
                font-size: 20px;
            }
        }
    }
    .copy {
        color: #fff;
        text-align: center;
        padding-top: 8px;
        display: block;
    }
}