@import url('../assets/fonts/proxima-nova/stylesheet.css');

//Colors
$grey: #424143;
$dark-grey: #1e1e1e;
$red: #CA151C;
$wine: #860D11;
$yellow: #F7931D;

//Font
$default-lt: 'Proxima Nova Lt';
$default-rg: 'Proxima Nova Rg';
$default-bl: 'Proxima Nova Bl';