@import '_variables';

@import '_header';

body, html {
    scroll-behavior: smooth;
}

body {
    font-family: $default-rg;
    $color: $grey;
}

.container-ps {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    color: $grey;
    font-family: $default-lt;
    position: relative;
    margin-bottom: 16px;
    &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $red;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

//Views, particles and pages
@import 'views/home';
@import 'particles/full-banner';
@import 'particles/fast-access';

@import 'views/school';

@import 'views/news';

@import 'views/duplicated';

@import 'views/testimonials';